<!DOCTYPE html>
<html>
  <head>
    <title>Penni</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="lg:max-w-[33%] md:max-w-[50%] lg:mx-auto md:mx-auto bg-slate-700 h-screen"> 
    <main class="container mx-auto px-4 flex h-full blurry-bg bg-gray-300 lg:bg-slate-600 bg-cover w-full bg-repeat-y">
      <%= yield %>
    </main>
  </body>
</html>
